* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 100vh;
  width: 25vw;
  border-radius: 0 4rem 4rem 0;
  background-color: #1194ff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

li {
  list-style: none;
  color: #82c7ff;
}

.topNav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 15vh;
  padding: 1rem 2rem;
  border-bottom: 2px solid #e3e3e3;
}

.topNav nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

.topNav nav p {
  padding: 14px 0 0;
}

.main {
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
  display: flex;
}

.main div {
  width: 100%;
}

.img1 {
  width: 8rem;
  height: 6rem;
}

.dash {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center;  */
  height: 40vh;
  padding: 1.5rem 1.5rem;
}

.dash-inner {
  width: 70%;
  display: flex;
  background-color: #1194ff;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.img2 {
  width: 12rem;
  height: 12rem;
}

.appointment {
  margin-top: 2rem;
  text-align: center;
  /* background-color: red; */
}
